# Gitleaks Configuration
# https://github.com/gitleaks/gitleaks

[extend]
useDefault = true

# Exclude paths from scanning
[exclude]
paths = [
    "tests/",
    "config/",
    "target/",
    ".git/",
    "deployment/"
]
